<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/13738/IdeaProjects/STMFramework/testng.xml">
        <classes>
            <class name="testcase.LoginPageTest"></class>
            <class name="testcase.EndToEndPhoneTest"></class>
        </classes>
    </test>
</suite>